{{- $secrets := fromYaml (output "sops" "--decrypt" (joinPath .chezmoi.sourceDir "secrets.sops.yaml")) -}}
#!/usr/bin/env bash
set -euo pipefail

UUID_HOMEOFFICE="{{ index $secrets "disk_uuid_homeoffice" }}"

if [ -e "/dev/disk/by-uuid/$UUID_HOMEOFFICE" ]; then
  PROFILE="homeoffice"
elif curl -s --max-time 3 -o /dev/null https://{{ index $secrets "nas_domain" }}; then
  PROFILE="nas"
else
  wezterm start --class float_wezterm -- bash -c "echo 'ERROR: No backup target available!'; read"
  exit 1
fi

wezterm start --class float_wezterm -- bash -i -c "
    echo 'Fetching snapshots for profile: $PROFILE...'
    [ \"$PROFILE\" = \"nas\" ] && export RESTIC_REPOSITORY=\$(secret-tool lookup restic nas-repo)
    resticprofile $PROFILE-term.snapshots -c --latest 2
    echo '--- Local Btrfs Snapshots (Root) ---'
    snapper -c root list | tail -n 3
    echo -e '\n--- Local Btrfs Snapshots (Home) ---'
    snapper -c home list | tail -n 3
    read -n 1 -s -r
    " &
sleep 0.2
swaymsg "[app_id=\"float_wezterm\"] floating enable, border pixel 4"
sleep 0.1
swaymsg "[app_id=\"float_wezterm\"] resize set 1000 700, move position center"
