[Unit]
Description=PolicyKit authentication agent (GNOME)
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Restart=always
RestartSec=3

[Install]
WantedBy=graphical-session.target
