[Unit]
Description=Sway notification center
After=graphical-session.target
PartOf=graphical-session.target
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=simple
ExecStart=/usr/bin/swaync
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
