# App launcher
bindsym $mod+space exec pkill rofi || rofi -show drun -show-icons

# Window switcher
bindsym $mod+Tab exec pkill rofi || rofi -show window -show-icons -window-format "{c:-20} {t}"

# File search
bindsym $mod+Shift+f exec pkill rofi || ~/.config/sway/bin/file-search.sh

# Calculator
set $calc pkill rofi || rofi -show calc -modi calc -no-show-match -no-sort -calc-command "wl-copy '{result}'"
bindsym $mod+equal exec $calc
bindsym $mod+plus exec $calc

# Cheatsheet browser
bindsym $mod+question exec pkill rofi || ~/.config/sway/bin/cheatsheet.sh

# Toggle apps
bindsym $mod+Shift+s exec ~/.config/sway/bin/toggle.sh keepassxc org.keepassxc.KeePassXC
bindsym $mod+Shift+w exec pkill rofi || { ~/.config/sway/bin/network-menu.sh; pkill -RTMIN+1 waybar; }
bindsym $mod+Shift+a exec ~/.config/sway/bin/toggle.sh helvum org.pipewire.Helvum
bindsym $mod+Shift+u exec ~/.config/sway/bin/usb.sh
