# App launcher
bindsym $mod+space exec pkill rofi || rofi -show drun -show-icons

# File search
bindsym $mod+Shift+f exec pkill rofi || ~/.config/sway/bin/file-search.sh

# Calculator
set $calc pkill rofi || rofi -show calc -modi calc -no-show-match -no-sort -calc-command "wl-copy '{result}'"
bindsym $mod+equal exec $calc
bindsym $mod+plus exec $calc

# Cheatsheet browser
bindsym $mod+question exec pkill rofi || ~/.config/sway/bin/cheatsheet.sh

# Toggle apps
bindsym $mod+Shift+s exec ~/.config/sway/bin/keepassxc.sh
bindsym $mod+Shift+w exec ~/.config/sway/bin/nm-connection-editor.sh
bindsym $mod+Shift+a exec ~/.config/sway/bin/helvum.sh
bindsym $mod+Shift+u exec ~/.config/sway/bin/usb.sh
