# Autostart applications
exec swayidle -w \
    timeout 1500 $lock \
    timeout 1200 'swaymsg "output * dpms off"' \
    resume 'swaymsg "output * dpms on"' before-sleep $lock

exec /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1

exec "vivaldi"
exec "$terminal --class main-terminal"
exec "sleep 3; keepassxc ~/data/pw/pw.kdbx"

# Workspace assignments
assign [app_id="vivaldi"] $ws1
assign [app_id="main-terminal"] $ws2
assign [app_id="obsidian"] $ws3
