# use wl-clipboard, clipman and wofi for cliboard managment

exec wl-paste --type=text --watch ~/.config/sway/bin/clip.sh

bindsym $mod+v exec clipman pick --tool=CUSTOM --tool-args='wofi --dmenu -p "cb pick"'
bindsym $mod+c exec clipman clear --tool CUSTOM --tool-args='wofi --dmenu -p "cb clear"'

