# use wl-clipboard, clipman and fuzzel for cliboard managment

exec wl-paste --primary --type=text --watch ~/.config/sway/bin/clip.sh

bindsym $mod+v exec clipman pick --tool=CUSTOM --tool-args='fuzzel --dmenu -p "cb pick >"'
bindsym $mod+c exec clipman clear --tool CUSTOM --tool-args='fuzzel --dmenu -p "cb clear >"'

