for_window [app_id="org.keepassxc.KeePassXC"] floating enable, border pixel 4, move position center, focus
for_window [app_id="nm-connection-editor"] floating enable, border pixel 4, move position center, focus
for_window [app_id="blueman-manager"] floating enable, border pixel 4, move position center, focus
for_window [window_type="dialog"] floating enable, border normal, move position center, focus
for_window [window_role="dialog"] floating enable, border normal, move position center, focus
