# Volume and brightness (wob overlay)
set $WOBSOCK $XDG_RUNTIME_DIR/wob.sock
set $brightness ~/.config/sway/bin/brightness.sh > $WOBSOCK
set $volume ~/.config/sway/bin/volume.sh

bindsym XF86AudioRaiseVolume exec $volume up > $WOBSOCK
bindsym XF86AudioLowerVolume exec $volume down > $WOBSOCK
bindsym XF86AudioMute exec $volume mute > $WOBSOCK
bindsym XF86AudioMicMute exec wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle
bindsym XF86MonBrightnessDown exec brightnessctl set 10%- && $brightness
bindsym XF86MonBrightnessUp exec brightnessctl set 10%+ && $brightness

# VPN
bindsym XF86PickupPhone exec ~/.config/sway/bin/vpn-toggle.sh up
bindsym XF86HangupPhone exec ~/.config/sway/bin/vpn-toggle.sh down
