# screenshots

bindsym Print exec slurp | grim -g - - | wl-copy && notify-send 'Screenshot' 'Copied area to clipboard' --icon=edit-copy -t 5000
bindsym Shift+Print exec slurp |grim $(mktemp -u -p $(xdg-user-dir PICTURES) screenshot-XXXXXX.png) && notify-send 'Screenshot' 'Copied area to file' --icon=edit-copy -t 5000

