# screenshots

# Area to clipboard
bindsym Print exec slurp | grim -g - - | wl-copy && notify-send 'Screenshot' 'Copied area to clipboard' --icon=edit-copy -t 5000
# Area to file
bindsym Shift+Print exec slurp | grim -g - "$(mktemp -u -p "$(xdg-user-dir PICTURES)" screenshot-XXXXXX.png)" && notify-send 'Screenshot' 'Saved to file' --icon=edit-copy -t 5000
# Full screen to clipboard
bindsym Ctrl+Print exec grim - | wl-copy && notify-send 'Screenshot' 'Copied screen to clipboard' --icon=edit-copy -t 5000
# Full screen to file
bindsym Ctrl+Shift+Print exec grim "$(mktemp -u -p "$(xdg-user-dir PICTURES)" screenshot-XXXXXX.png)" && notify-send 'Screenshot' 'Saved screen to file' --icon=edit-copy -t 5000
