# screenshots
set $screenshot_dir "$(xdg-user-dir PICTURES)/screenshots"

# Area to clipboard
bindsym Print exec slurp | grim -g - - | wl-copy && notify-send 'Screenshot' 'Copied area to clipboard' --icon=edit-copy -t 5000
# Area to file
bindsym Shift+Print exec slurp | grim -g - "$screenshot_dir/screenshot-$(date +%Y%m%d-%H%M%S).png" && notify-send 'Screenshot' 'Saved to file' --icon=edit-copy -t 5000
# Full screen to clipboard
bindsym Ctrl+Print exec grim - | wl-copy && notify-send 'Screenshot' 'Copied screen to clipboard' --icon=edit-copy -t 5000
# Full screen to file
bindsym Ctrl+Shift+Print exec grim "$screenshot_dir/screenshot-$(date +%Y%m%d-%H%M%S).png" && notify-send 'Screenshot' 'Saved screen to file' --icon=edit-copy -t 5000
