{{ $email := promptString "email" -}}
{{ $brewprefix := promptString "Value of brew --prefix" -}}
{{ $keepassdb := promptString "keepass db file" -}}
[data]
    email = "{{ $email }}"
    brewprefix = "{{ $brewprefix }}"

    [data.gtk]
        theme = "Materia"
        icon.theme = "Papirus"
        font = "Roboto 10.5"

[keepassxc]
    database = "{{ $keepassdb }}"
