{{- if eq .chezmoi.os "darwin" }}
# Amazon Q pre block. Keep at the top of this file.
[[ -f "${HOME}/Library/Application Support/amazon-q/shell/zshrc.pre.zsh" ]] && builtin source "${HOME}/Library/Application Support/amazon-q/shell/zshrc.pre.zsh"
{{- end }}

# oh-my-zsh
export ZSH="{{ .chezmoi.homeDir }}/.oh-my-zsh"

# Starship prompt
if [[ "$TERM" == "linux" ]]; then
  export STARSHIP_CONFIG=~/.config/starship/starship-linux.toml
else
  export STARSHIP_CONFIG=~/.config/starship/starship.toml
fi
eval "$(starship init zsh)"
TRANSIENT_PROMPT_TRANSIENT_PROMPT='$(starship prompt --profile transient)'

# OSC 133 semantic prompt markers (enables WezTerm semantic zones)
if [[ -n "$WEZTERM_EXECUTABLE" ]]; then
  _osc_prompt_start() { printf '\e]133;A\e\\'; }
  _osc_command_start() { printf '\e]133;C\e\\'; }
  precmd_functions+=(_osc_prompt_start)
  preexec_functions+=(_osc_command_start)
fi

# oh-my-zsh settings
HYPHEN_INSENSITIVE="true"
ENABLE_CORRECTION="true"
COMPLETION_WAITING_DOTS="true"
HIST_STAMPS="dd.mm.yyyy"

plugins=(
{{- if eq .chezmoi.os "linux" }} {{- if eq (printf "%.4s" .chezmoi.osRelease.id) "arch" }}
    archlinux
    systemd
{{- end }} {{- end }}
{{- if eq .chezmoi.os "darwin" }}
    macos
    brew
    marked2
{{- end }}
    aws
    docker
    fzf
    git
    gitignore
    gpg-agent
    gh
    golang
    kubectl
    mvn
    mise
    ruby
    rust
    safe-paste
    terraform
    z
    transient-prompt
{{- if hasSuffix "com.com" .email }}
    cloudfoundry
    jira
    jfrog
    aws
    swisscom-proxy
    dos
{{- end }}
)

source $ZSH/oh-my-zsh.sh

# Environment
export LANG=en_US.UTF-8
export EDITOR='vi'

# Vi key bindings
bindkey -v
autoload -Uz edit-command-line
zle -N edit-command-line
bindkey -M vicmd 'vv' edit-command-line

# Editor aliases (progressively override)
if command -v vim &> /dev/null; then
  alias vi=vim
  export EDITOR='vim'
fi

if command -v nvim &> /dev/null; then
  alias vi=nvim
  export EDITOR='nvim'
  export MANPAGER='nvim +Man!'
fi

{{- if eq .chezmoi.os "darwin" }}

# tinted theming by default respects OSX dirs
alias tinty='tinty --config=~/.config/tinted-theming/tinty/config.toml --data-dir=~/.local/share/tinted-theming/tinty'

# Syntax highlighting
source $(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# Autosuggestion
source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh

# iterm integration
test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"

if command -v lsd &> /dev/null; then
  alias ls='lsd'
else
  alias ls='ls --color=tty'
fi

{{- end }}

{{- if eq .chezmoi.os "linux" }}

alias open='xdg-open'
alias cm='chezmoi'

if command -v lsd &> /dev/null; then
  alias ls='lsd'
fi

if command -v btop &> /dev/null; then
  alias top='btop'
fi

{{- if eq (printf "%.4s" .chezmoi.osRelease.id) "arch" }}
source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
source /usr/share/doc/pkgfile/command-not-found.zsh
{{- end }}
{{- if eq .chezmoi.osRelease.id "debian" }}
source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{- end }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
HOMEBREW_COMMAND_NOT_FOUND_HANDLER="$(brew --repository)/Library/Homebrew/command-not-found/handler.sh"
if [ -f "$HOMEBREW_COMMAND_NOT_FOUND_HANDLER" ]; then
  source "$HOMEBREW_COMMAND_NOT_FOUND_HANDLER";
fi
{{- end }}

{{- if eq .chezmoi.os "linux" }} {{- if eq (printf "%.4s" .chezmoi.osRelease.id) "arch" }}
alias neomutt="TERM=screen-256color neomutt"
alias mutt="TERM=screen-256color neomutt"
{{- end }} {{- end }}

# Tool integrations
eval "$(mise activate zsh)"
eval "$(direnv hook zsh)"

# LESS
LESSOPEN="|lesspipe.sh %s"; export LESSOPEN

# Theming
source $(tinty config --data-dir-path)/repos/tinted-fzf/sh/$(tinty current).sh

# Go
{{- if eq .chezmoi.os "linux" }} {{- if eq (printf "%.4s" .chezmoi.osRelease.id) "arch" }}
go env -w GOPATH=$HOME/.local/share/go
{{- end }} {{- end }}
export GO111MODULE=on
export PATH=$PATH:$(go env GOPATH)/bin
export GOTESTS_TEMPLATE=testify

# Rust
export PATH=$PATH:$HOME/.cargo/bin

# Local binaries
export PATH="$PATH:$HOME/.local/bin"

{{- if eq .chezmoi.os "darwin" }}
# Amazon Q post block. Keep at the bottom of this file.
[[ -f "${HOME}/Library/Application Support/amazon-q/shell/zshrc.post.zsh" ]] && builtin source "${HOME}/Library/Application Support/amazon-q/shell/zshrc.post.zsh"
{{- end }}
