{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}
#!/usr/bin/env bash

DIR=~/.local/share/chezmoi/dot_config/pacman/$(hostname)
mkdir -p "$DIR"

pacman -Qqen >$DIR/pkglist.txt
pacman -Qqem >$DIR/foreignpkglist.txt
echo "#optional dependencies" >$DIR/optdeplist.txt
comm -13 <(pacman -Qqdt | sort) <(pacman -Qqdtt | sort) >>$DIR/optdeplist.txt

# systemd services
systemctl list-unit-files --state=enabled --no-legend | awk '{print $1}' >$DIR/enabled_units.txt
systemctl --user list-unit-files --state=enabled --no-legend | awk '{print $1}' >$DIR/enabled_user_units.txt
{{- end -}}
