@import "colors.css";


/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		background-color: @critical;
	}
}


/* Styles */

/* Colors (gruvbox) */
@define-color black	@base00;
@define-color red	@base08;
@define-color green	@base0B;
@define-color yellow	@base0A;
@define-color blue	@base0D;
@define-color magenta	@base0E;
@define-color cyan	@base0C;
@define-color white	@base05;
@define-color brblack	@base03;
@define-color brred	@base08;
@define-color brgreen	@base0B;
@define-color bryellow	@base0A;
@define-color brblue	@base0D;
@define-color brmagenta	@base0E;
@define-color brcyan	@base0C;
@define-color brwhite	@base07;


@define-color warning 	@bryellow;
@define-color critical	@red;
@define-color mode	@black;
@define-color unfocused	@base00;
@define-color focused	@base03;
@define-color inactive	@magenta;
@define-color layout	@bryellow;
@define-color sound	@green;
@define-color network	@yellow;
@define-color memory	@blue;
@define-color cpu	@magenta;
@define-color temp	@cyan;
@define-color battery	@white;
@define-color date	@brblack;
@define-color time	@white;


/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	-gtk-icon-shadow: none;
}

/* The whole bar */
#waybar {
	background: @black;
	color: @white;
	font-family: MesloLGS Nerd Font Propo;
	font-size: 13pt;
	/*font-weight: bold;*/
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* And now modules themselves in their respective order */

/* Current sway mode (resize etc) */
#mode {
	color: @white;
	background: @mode;
}

/* Workspaces stuff */
#workspaces button {
	color: @base05;
	background: @unfocused;
    padding: 0px 5px 0px 5px;
    margin: 2px 2px 2px 2px;
    border-color: @base04;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @brblack;
	background: @inactive;
}

/* Active (on focused output) */
#workspaces button.focused {
	color: @base06;
	background: @focused;
    padding: 0px 5px 0px 5px;
    margin: 2px 2px 2px 2px;
    border-color: @base05;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @black;
	background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	background: @brblack;
	color: @brwhite;
}

#window {
	margin-right: 10pt;
	margin-left: 10pt;
}

#pulseaudio {
	background: @sound;
	color: @black;
}

#network {
	background: @network;
	color: @black;
}

#memory {
	background: @memory;
	color: @black;
}

#cpu {
	background: @cpu;
	color: @black;
}

#temperature {
	background: @temp;
	color: @black;
}

#language {
	background: @layout;
	color: @black;
}

#battery {
	background: @battery;
	color: @black;
}

#tray {
	background: @date;
}

#clock.date {
	background: @date;
	color: @black;
}

#clock.time {
	background: @time;
	color: @black;
}

#custom-arrow1 {
	font-size: 16pt;
	color: @time;
	background: @date;
}

#custom-arrow2 {
	font-size: 16pt;
	color: @date;
	background: @battery;
}

#custom-arrow3 {
	font-size: 16pt;
	color: @layout;
	background: @battery;
}

#custom-arrow4 {
	font-size: 16pt;
	color: @battery;
	background: @temp;
}

#custom-arrow5 {
	font-size: 16pt;
	color: @temp;
	background: @cpu;
}

#custom-arrow6 {
	font-size: 16pt;
	color: @cpu;
	background: @memory;
}

#custom-arrow7 {
	font-size: 16pt;
	color: @memory;
	background: @network;
}

#custom-arrow8 {
	font-size: 16pt;
	color: @network;
	background: transparent;
}

#custom-arrow9 {
	font-size: 16pt;
	color: @sound;
	background: transparent;
}

#custom-arrow10 {
	font-size: 16pt;
	color: @unfocused;
	background: transparent;
}
