{{- if eq .chezmoi.os "linux" }}
pinentry-program /usr/bin/pinentry-gnome3
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
    pinentry-program {{ .brewprefix }}/bin/pinentry-mac
{{- end }}
pinentry-timeout 120
enable-ssh-support
