# Global settings
shell = "zsh -c '{}'"
default-scheme = "base16-darktooth"

[[items]]
name = "tinted-shell"
path = "https://github.com/tinted-theming/tinted-shell"
themes-dir = "scripts"
hook = "source %f"

[[items]]
path = "https://github.com/tinted-theming/tinted-fzf"
name = "tinted-fzf"
themes-dir = "sh"
hook = "source %f"

[[items]]
path = "https://github.com/tinted-theming/tinted-terminal"
name = "tinted-terminal"
themes-dir = "themes/alacritty"
hook = "cp -f %f ~/.config/alacritty/colors.toml && touch ~/.config/alacritty/alacritty.toml"
supported-systems = ["base16", "base24"]

{{- if eq .chezmoi.os "linux" }} {{- if eq (printf "%.4s" .chezmoi.osRelease.id) "arch" }}

[[items]]
name = "base16-sway"
path = "https://github.com/rkubosz/base16-sway"
themes-dir = "themes"
revision = "master"
hook = "cp -f %f ~/.config/sway/base16.config && /usr/bin/swaymsg reload"

[[items]]
path = "https://github.com/tinted-theming/base16-waybar"
name = "base16-waybar"
themes-dir = "colors"
hook = "cp -f %f ~/.config/waybar/colors.css && killall -SIGUSR2 waybar"

[[items]]
path = "https://git.sr.ht/~knezi/base16-wofi"
name = "base16-wofi"
themes-dir = "themes"
revision = "master"
hook = "cp -f %f ~/.config/wofi/style.css"

[[items]]
path = "https://github.com/tinted-theming/base16-wob"
name = "base16-wob"
themes-dir = "colors"
hook = "cp -f %f ~/.config/wob/wob-colors.ini && cat ~/.config/wob/wob-colors.ini ~/.config/wob/wob-base.ini > ~/.config/wob/wob.ini && /usr/bin/systemctl --user restart wob"

[[items]]
path = "https://git.sr.ht/~blueingreen/base16-btop"
name = "base16-btop"
themes-dir = "colors"
hook = "cp -f %f ~/.config/btop/themes/colors.theme"

[[items]]
path = "https://github.com/kirasok/base16-hyprland"
name = "base16-hyprland"
themes-dir = "themes"
hook = "cp -f %f ~/.config/hypr/colors.conf && hyprctl reload"

{{- end }} {{- end }}

{{- if eq .chezmoi.os "darwin" }}

[[items]]
path = "https://github.com/tinted-theming/base16-iterm2"
name = "base16-iterm2"
themes-dir = "itermcolors-256"
hook = "cp -f %f ~/.config/iterm2/tinty-managed.itermcolors && ~/.config/iterm2/apply-tinty-theme.sh"

{{- end }}


