# Syntax highlighting and autosuggestions
zdharma-continuum/fast-syntax-highlighting
zsh-users/zsh-autosuggestions

# Transient prompt support
olets/zsh-transient-prompt
{{- if eq .chezmoi.os "darwin" }}

# Swisscom proxy
$HOME/dev/src/christof.laenzlinger/swisscom-proxy
{{- end }}
