{{- if eq .chezmoi.os "linux" -}}
SSH_AUTH_SOCK=/run/user/{{ .chezmoi.uid }}/gnupg/S.gpg-agent.ssh
{{- else if eq .chezmoi.os "darwin" -}}
SSH_AUTH_SOCK={{ .chezmoi.homeDir }}/.gnupg/S.gpg-agent.ssh
{{- end }}
