[Desktop Entry]
Type=Application
Version=1.0
Name=OpenPnP
Comment=Open Source SMT Pick and Place Hardware and Software
Exec=env _JAVA_AWT_WM_NONREPARENTING=1 _JAVA_OPTIONS="-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel -Dswing.crossplatformlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel" /opt/openpnp/OpenPnP
Icon=OpenPnP.png
Terminal=false
